.menu_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 10px;
}

.main_menu{
    max-width: 800px;

}
.card_description{
    display: flex;
    align-items: center;
    gap: 8px;
}

.category_name{
    display: flex;
    align-items: center;
    gap: 8px;
}

.card_price{
    width: 70px;
}

footer {
  color: black;
  width:100%;
  padding:0;
  clear:both;
  bottom:0;
  position: absolute;    
}